@import "tailwindcss";

:root {
  --navy: #0A1628;
  --green: #00E676;
  --bg: #F8FAFC;
  --text: #1E293B;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8FAFC;
  color: #1E293B;
}
